
.main{
    padding-top: 7%;
    text-align: center;
    font-family: 'Farro', sans-serif;
}
.abc{
    margin: 2% 35% 0%;
}
.img-a{
    width: 10%;
    border-radius: 100%;
}
.footer{
    text-align: center;
    font-size: smaller;
    padding-bottom: 5%;
}
.body{
    padding: 30% 0%;
}
.check-box{
    text-align: left;
}
.dot {
    height: 3px;
    width: 3px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
  }
  